.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:290px;
    margin: 40px auto;
    padding: 20px;
    gap: 5px;
    background-color: rgba(98, 103, 103, 0.3);
    border-radius: 4px;
    border: 1px solid rgb(171, 168, 168);

}
@media (max-width:780px){
    .board{
        width:15rem;
    }
}
@media(max-width:480px){
    .board{
        width: 12rem;
    }
}