.square{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgb(88, 87, 85);
    transition: all 0.5s ease;
    margin-top: 6px;
    border:1px solid grey;
    
    
}
.square:hover{
    background-color: rgb(189, 234, 144);
    transition: 0.6s;
    transform:scale(0.9);
}
.square:active{
    background-color: green;
    color: white;

}
.square--winning{
    background-color: #ffe58a;
    box-shadow: 0 0 3px rgb(118, 118, 15);
    transform:scale(1.04);
    transition:transform 0.5s ease;
}
@media (max-width:780px){
    .square{
        width:4rem;
        height:4rem;
        
    }
}
@media (max-width:480px){
    .square{
        width: 2.5rem;
        height: 2rem;
    }
}